button {
    margin: 3%;
    padding: 1rem;
}

.todo {
    border: 1px solid black;
    padding: 1rem;
    width: 20%;
    margin: 3% 0;
    text-align: center;
}

.todo.completed {
    text-decoration: line-through;
}